<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Prediction</title>
    {#    <script type="text/javascript" src="../static/library/js/plotly.min.js"></script>#}
    <script type="text/javascript" src="../static/library/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/library/js/app.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/library/css/app.css"/>
</head>
<body>
<div>
    <form action="/upload_files" method="POST" enctype=multipart/form-data class="legend">

        <span>Upload: </span>
        <input type="file" name="data_file"/>
        <span>Capture an Image: </span>
        <input type="file" name="data_file" accept="image/*" capture="camera">
        <br/>
        <input type="submit" value="Upload a Pic!"/>
    </form>
    <ul class="uploaded_file_list">
    </ul>
    <button id="fetch_emotion" type="button" value="Fetch Emotion!">Fetch Emotion!</button>
    <ul class="emotions_list">
    </ul>
</div>
</body>
</html>